<ConditionalLoadingSpinner @condition={{loadingReplies}}>
  <div class="templates-filter-bar">
    {{#if siteSettings.tagging_enabled}}
      <TemplatesTagDrop
        @availableTags={{availableTags}}
        @tagId={{selectedTag}}
        @onChange={{action "changeSelectedTag"}}
      />
    {{/if}}
    <TextField
      class="templates-filter"
      @value={{listFilter}}
      placeholder={{i18n "templates.filter_hint"}}
    />
  </div>
  <div class="templates-list">
    {{#each filteredReplies as |r|}}
      <TemplateItem
        @template={{r}}
        @model={{model}}
        @onInsertTemplate={{action "insertTemplate"}}
      />
    {{/each}}
  </div>
</ConditionalLoadingSpinner>